# Exemplo de arquivo terraform.tfvars

aws_region = "us-east-1"

project_name = "pitflow"

lambda_runtime = "python3.12"

auth_lambda_name = "pitflow-auth"

budget_form_lambda_name = "pitflow-budget-form"

shared_layer_name = "pitflow-shared"

secret_name = "secret_pitflow"
